.tile-home {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.tile-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: default;
  scale: 0.98;
  transition: 0.5s ease-in-out;
}

.tile-content:hover {
  cursor: pointer;
  scale: 1
}

.about-me-tile {
  background-color: brown;
}

.cielvision-tile {
  background-color: royalblue;
}

.rotoskop-tile {
  background-color: blueviolet;
}
